.section1{
    text-align: center;
    width: 100%;
   // overflow: hidden;
   
    h4{
        padding-top: 82px;
        position: relative;

        @media(max-width: 350px){
                        
            font-size: 0.8rem;
        }
         
        &::before{
            content: "";
            border: 1px solid rgb(209, 209, 209);
            position: absolute;
            width: 30%;
            right: 10% ;
            top: 90%;
            
            @media(max-width: 670px){
                width: 27%;
            }
            @media(max-width: 669px){
                width: 24%;
            }
            @media(max-width: 350px){
                width: 17%;
            }
        }
        &:after{
            content: "";
            border: 1px solid rgb(209, 209, 209);
            position: absolute;
            width: 30%;
            left: 10%;
            top: 90%;
            
            @media(max-width: 670px){
                width: 27%;
            }
            @media(max-width: 669px){
                width: 24%;
            }
            @media(max-width: 350px){
                width: 17%;
            }
        }
    }
    h2{
        font-size: 3rem;
        margin: 50px auto;
        font-family: font-2;
        text-transform: uppercase;
        font-weight: bold;
        
        @media(max-width: 450px){
            font-size: 1.5rem;
       }
        @media(max-width: 350px){
            font-size: 1.5rem;
              }
    }
    p{
        line-height: 30px;
        margin: 50px auto;
        
        @media(max-width: 450px){
            font-size: 0.9rem;
        }
        @media(max-width: 350px){
            font-size: 0.8rem;
        }
        }
        
        
        .img-saut{
            max-width: 100%;
            overflow: hidden;
            margin: 0 20px;
            
        }
    img{
     
     max-width: 100%;
     transition: 0.5s ease;

     &:hover{
      
         -ms-transform: scale(2) translate(30px);  
         transform: scale(2) translate(20px);
    
     }
 } 
button{
align-items: center;
margin: 20px auto;

&:hover{
    transition: 0.5s ease;
    background: $color-2;
    color: $color-1;
    cursor: pointer;
}
 }
}
